body{
    background-color: rgba(235, 219, 222, 0.86);
    font-family: sans-serif;
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.heading{
    margin:1px;
    background-color: rgb(84, 19, 84);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.Add{
    text-align: center
}
.Add-style{
    color: aliceblue;
    background-color:rgb(225, 14, 225);
    border: none;
    padding:10px;
    min-width: 100px;
    border-radius: 3%;
    margin: 20px;
}
.Add-style:hover{
    cursor: pointer;
    background-color:rgb(227, 132, 227);
}
.active{
    background-color: rgba(225, 14, 225, 0.253);
    color:black;
    border: 2px solid rgba(0, 0, 0, 0.6);
}
.add-field{
    max-width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 33, 103);
    border-radius: 5px;
    padding: 60px;
    border: 3px solid black;
    gap: 5px;
    margin: 30px auto;
}
.add-field input::placeholder{
    text-align: center;
    background-attachment: aliceblue;
    color: rgb(60, 12, 60);
}
.add-field button{
    border-radius: 5px;
    padding: 15px;
    background-color:green;
    margin: 10px;
}

.delete:hover{
    background-color: rgba(179, 63, 63, 0.47);
    border: 2px solid rgba(0, 0, 0, 0.707);
}
.edit-delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:10px auto;
    background-color:  rgb(103, 33, 103);
    color: aliceblue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.delete{
    flex:1;
    background-color: rgb(179, 63, 63);
    padding: 10px;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.search-button{
    display: flex;
    justify-content: center;
}
.search-field{
    background-color:rgba(80, 25, 80, 0.738);
    border-radius: 5px;
    width:90%;
    margin: 10px auto;
    border: 2px solid black;
    padding: 10px;
}
.search-field::placeholder{
    color: aliceblue;
    text-align: center;
}
.todo{
    background-color: rgb(84, 19, 84);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
}
.Login{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}
.Login-Main{
    background-color: rgb(91, 28, 91) ;
    width: 30%;
    margin: auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
.Span{
    display:flex;
    color: aliceblue;
    justify-content: space-between;
    padding-top: 20px;
}
span:hover{
    cursor: pointer;
    color:pink;
}
.h5:hover{
    cursor: pointer;
    color:pink;
}
.forgot-input{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    background-color:rgb(84, 19, 84);
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.forgot-input input{
    border-radius: 5px;
    padding: 15px;
    background-color:aliceblue;
}
.forgot-input button{
    border-radius: 5px;
    padding: 15px;
    background-color: green;
    margin: 10px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
  .edit-change{
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .edit{
    flex: 1;
    color: aliceblue;
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
  .Login input{
    border-radius: 5px;
    padding: 15px;
    background-color:aliceblue;

  }

.Login input::placeholder{
    text-align: center;
    color:rgb(122, 24, 122)
}
.Login button{
    border-radius: 5px;
    padding: 15px;
    background-color:green;
    margin: 10px;

}
.add-field input{
    border-radius: 5px;
    padding: 15px;
    background-color:aliceblue;
}
@media (max-width:600px) {
    .Login-Main{
        width: 70%;
    }
    .add-field{
        max-width: 70%;
        margin: 20px auto;
    }
    .forgot-input{
        width: 50%;
    }
}